body {
  background-color: hsl(226, 43%, 10%);
}
h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}
@media only screen and (max-width: 500px){
  h1 {
    font-size: 1.5rem;
  }
}
h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 3em;
  margin-bottom: 0;
}
h3 {
  font-size: 18px;
  padding-top: 1.5rem;
  margin-bottom: 0rem;
}
@media only screen and (max-width: 500px){
  h3 {
    padding-top: 1.5rem;
    margin-bottom: -1rem;
  }
}
p{
  padding-bottom: 1rem;
}
img {

}
.container {
  color: white;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width:500px){
  .container {
    top: 0%;
    transform: translate(-50%, 0%);
  }
}
.hover:hover{
  background-color: #34397b;
}

.curveBorder {
  border-radius: 10px;
}
.curveBorder2 {
  border-radius: 12px;
}
.textPad {
  padding: 0 24px;
}
.vertPad {
  padding: 40px 0 0 0;
}
.noPad {
  padding: 0;
}
.inlineBlock {
  display: inline-block;
}
@media only screen and (max-width: 500px){
  .float {
    float: right;
    margin-top: 25px;
  }
}

.time {
  padding-bottom: 0;
}
@media only screen and (max-width: 500px){
  .timeShow {
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 500px){
  .flexWidth {
    flex-basis:250px;
  }
}

@media only screen and (max-width: 500px){
  .mainHeight {
    margin-left: 15px;
    margin-right: 15px;
    height: auto;
  }
}

@media only screen and (min-width: 500px){
  .ellipsis {
    position: relative;
    top: -3em;
    right: -9em;
  }
}
@media only screen and (max-width: 500px){
  .ellipsis {
    position: relative;
    top: -0.5em;
    right: -18em;
  }
}
.ellipsis:hover {
  filter: brightness(1.4);
}

.avatar {
  width: 75px;
  border-color: white;
  border-radius: 50px;
  border: solid;
}

@media only screen and (max-width:500px){
  .showWeek{
    margin-left: 40px;
  }
  .showMonth{
    margin-left: 50px;
  }
}

.showWeek:hover, .showDay:hover, .showMonth:hover {
  color: white;
  cursor: pointer;
}
.selected {
  color: white !important;
}

.cursor {
  cursor: pointer;
}

.backgroundImage {
  background-repeat: no-repeat;
  background-position: top 0 right 1em;
  background-size:60px;
}
.blueBack{
  background-color: #1d204b;

}
@media only screen and (min-width:500px){
  .blueBack{
    flex-basis: 250px;
    height: 100%;
  }
}

.blueBack p {
  color: #5f6599;
}
.lightBlueBack{
  background-color: #5746ea;
}
.orangeBack {
  background-color: hsl(15, 100%, 70%);
  background-image: url("./images/icon-work.svg");
}
.cyanBack {
  background-color: hsl(195, 74%, 62%);
  background-image: url("./images/icon-play.svg");
}
.redBack {
  background-color: hsl(348, 100%, 68%);
  background-image: url("./images/icon-study.svg");
}
.greenBack {
  background-color: hsl(145, 58%, 55%);
  background-image: url("./images/icon-exercise.svg");
}
.purpleBack {
  background-color: hsl(264, 64%, 52%);
  background-image: url("./images/icon-social.svg");
}
.yellowBack {
  background-color: hsl(43, 84%, 65%);
  background-image: url("./images/icon-self-care.svg");
}


.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 40%;
  color: hsl(236, 100%, 87%);
}
@media only screen and (max-width:500px){
  .attribution{
    left: 10%;
  }
}
.attribution a {
  color: white;
}
