body {
  background-color: hsl(226, 43%, 10%);
}
h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}
h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 3em;
}
h3 {
  font-size: 18px;
}
.container {
  color: white;
}
.blueBack{
  background-color: #1d204b;
  flex-basis: 250px;
  height: 100%;
}
.hover:hover{
  background-color: #34397b;
}
.blueBack p {
  color: white;
  opacity: 70%;
}
.lightBlueBack{
  background-color: #5746ea;
}
.curveBorder {
  border-radius: 10px;
}
.curveBorder2 {
  border-radius: 12px;
}
.textPad {
  padding: 0px 24px;
}
.vertPad {
  padding: 30px 0 0 0;
}
.noPad {
  padding: 0;
}
.inlineBlock {
  display: inline-block;
}

.ellipsis {
  position: absolute;
  top:4em;
  right:2em;
}

.avatar {
  width: 75px;
  border-color: white;
  border-radius: 50px;
  border: solid;
}

.showWeek:hover, .showDay:hover, .showMonth:hover {
  color: white;
  cursor: pointer;
}
.selected {
  color: white !important;
}

.cursor {
  cursor: pointer;
}

.backgroundImage {
  background-repeat: no-repeat;
  background-position: top 0 right 1em;
  background-size:60px;
}
.orangeBack {
  background-color: hsl(15, 100%, 70%);
  background-image: url("./images/icon-work.svg");
}
.cyanBack {
  background-color: hsl(195, 74%, 62%);
  background-image: url("./images/icon-play.svg");
}
.redBack {
  background-color: hsl(348, 100%, 68%);
  background-image: url("./images/icon-study.svg");
}
.greenBack {
  background-color: hsl(145, 58%, 55%);
  background-image: url("./images/icon-exercise.svg");
}
.purpleBack {
  background-color: hsl(264, 64%, 52%);
  background-image: url("./images/icon-social.svg");
}
.yellowBack {
  background-color: hsl(43, 84%, 65%);
  background-image: url("./images/icon-self-care.svg");
}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
